body{
    margin: 0px;
    background-color: #F8FAFC;
    color: #0F172A;
    font-family: exo_2;
}

/* Nav bar start */
nav {
    width: 100%;
    /* padding-left: 70px; */
    /* background-color: rgba(0, 0, 255, 0.246); */
    padding: 15px 0px 15px 70px;
    font-family: mukta-medium;
}

nav ul {
    padding: 0px;
    list-style: none;
    display: flex;
    align-items: center; 
    gap: 150px;
}

nav ul li a {
    text-decoration: none;
    color: #0F172A;
    font-size: 17px;
}

#nav_logo {
    margin-right: 300px;
    height: 50px;
    padding: 10px;
    border: 1px solid #0F172A;
    border-radius: 5px;
}
/* Nav bar slutt */

/* Landingpage start */
h1 {
    font-family: mukta-medium;
    font-size: 40px;
    font-weight: 100;
    margin: 0px 0px 20px 0px;
}

.ladning_wrapper_1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
}

#landing_ingress {
    max-width: 700px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin: 0px;
    text-align: center;
    line-height: 1.5;
    /* letter-spacing: 0.5px; */
}

.button_omradet{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 60px;
}

.landing_button {
    /* background-color: #9F1239; */
    background-color: #6B8FA8;
    font-size: 20px;
    border: 0px;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    /* font-family: exo_2; */
    box-shadow: 3px 3px #0f172a4a;
    cursor: pointer;
}

.section-wrapper1 {
    width: 100%;
    /* background-color: rgba(0, 0, 255, 0.247); */
    display: flex;
    justify-content: center;
    margin-top: 200px;
    gap: 100px;
}

.section-wrapper2 {
    /* background-color: rgba(255, 255, 0, 0.425); */
    width: 400px;
}

.section-wrapper_video {
    /* background-color: rgba(128, 0, 128, 0.345); */
    display: flex;
    justify-content: center;
}

.section-wrapper_text {
    /* background-color: rgba(255, 166, 0, 0.478); */
    text-align: center;
    font-weight: 600;
}

#section-video {
    width: 75%;
    border-radius: 5px;
}

#section-a {
    text-decoration: none;
    display: flex;
    width: 60%;
    justify-content: center;
    /* align-self: center; */
    justify-self: center;
    background-color: #6B8FA8;
    color: white;
    font-size: 20px;
    padding: 5px 0px;
    border-radius: 2px;
}

footer {
    margin-top: 400px;
    width: 100%;
    height: 500px;
    /* background-color: rgba(0, 0, 255, 0.416); */
    display: flex;
}

.footer_logo {
    width: 45%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_logo img {
    width: 300px;
}

.footer_text-wrapper {
    width: 55%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: space-around; */
    /* flex-direction: column; */
    gap: 200px;
    /* row-gap: 100px; */
}

.footer_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_text h3 {
    margin: 0px;
}
/* Landingpage slutt */


/* Quiz page start */
.quiz-omradet {
    width: 700px;
    background-color: rgba(0, 0, 255, 0.347);
}

/* Quiz page slutt */
.svar_riktig {
    background-color: green;
}

.svar_feil {
    background-color: red;
}

#sammendrag {
    display: none;
}

/* Fonter start */
@font-face {
    font-family: mukta-medium;
    src: url(../font/mukta/Mukta-Medium.ttf);
}

@font-face {
    font-family: exo_2;
    src: url(../font/exo_2/static/Exo2-Thin.ttf);
}
/* Fonter slutt */